<div class="container-fluid" style="margin-top: 10%;">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">

            <div class="card-box" style="background-color: #ccc;">
                <form #loginForm="ngForm" (ngSubmit)="login()">


                    <div class="row" style="display: block;">
                        <h2 style="text-align: center;">Login</h2>
                    </div>

                    <div class="row">
                        <div class="offset-lg-3 col-lg-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Enter your email"
                                    class="form-control mb-3" [(ngModel)]="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6">
                            <div class="form-group">
                                <label for="password">password</label>
                               
                                <input type="password" name="password" id="password" placeholder="Enter your password"
                                    class="form-control mb-3" [(ngModel)]="password" required>
                            </div>
                            
                            
                            
                            
                            <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>


                        </div>
                        <div>
                            <a class="nav-link" [routerLink]="'/sendMail'" target="_blank">Forget Password</a>

                        </div>

                    </div>


                    <div class="row">
                        <div class="offset-lg-3 col-lg-2">
                            <br>
                           
                           
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <br>
                            <span></span>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>