


<div class="row g-4">
  <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
          <h2 class="text-primary mb-4">Bad Words Form</h2>
              
              <form (ngSubmit)="Badwords()" id="badwords-form">
      
    
                    <div class="mb-3">
                      <h6  class="form-label" for="word">Word :</h6>

                      <input required class="form-control bg-transparent" required type="text" [(ngModel)]="badwords.word" name="word" id="word" />
                        
                      </div>
                    
    
                  <div class="col-12">
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit" name="submit_reg">Submit</button>
                    </div>
                  </div>
             
              </form>
         
      
          
  </div>
</div>
  
  <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
<div class="container mt-4">
<h2 class="text-primary mb-4">Bad Words List</h2>
<table class="table  table-dark table-bordered table-striped">
<thead>
  <tr>
    <th class="text-primary">ID</th>
    <th class="text-primary">Words</th>
    <th class="text-primary">Actions</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let a of BadwordsList">
    <td class="text-white"><strong>{{ a.idBadWords }}</strong></td>
    <td class="text-white"><strong>{{ a.word }}</strong></td>
    <td>
      <button class="btn  btn-outline-success rounded-pill m-2"(click)="onUpdate(a)">Update</button>
      <button class="btn btn-outline-danger rounded-pill m-2" (click)="deleteBadWords(a.idBadWords)">Delete</button>
    </td>
  
  </tr>
</tbody>
</table>

</div>
        
                
      

    
  