<div id="content" #content>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>List Users</h1>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" (click)="allUsers()">Load All Users</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td scope="row">{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center"></div>
    </div>
</div>