<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card-row">
  <div class="card-col" *ngFor="let a of activities">
    <mat-card>
      <img class="card-img" mat-card-image [src]="getImagePath(a)" alt="{{ a.activityType }}" >
      <mat-card-content>
        <h2 class="card-title" mat-card-title>{{a.location}}</h2>
        <p class="card-content" mat-card-content> Price : {{a.priceA}}</p>
        <p class="card-content" mat-card-content> endDate : {{a.activityType}}</p>
        <p class="card-content" mat-card-content> startDate : {{a.startDate}}</p>
        <p class="card-content" mat-card-content> endDate : {{a.endDate}}</p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-button class="btn btn-danger"> Booking</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
