
  <div class="row mt-5">
    <div class="col-md-8">
      <h1 class="fw-bold">Liste des publications</h1>
    </div>


    <!-- Product cards -->
    <div class="row">
      <div class="card-group">
        <!-- Loop through products: cette méthode est utilisée pour sélectionner une partie d'un tableau afin de l'afficher dans une page spécifique lors de la pagination. -->
        <div *ngFor="let pub of listPub.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)" class="col-md-4 mb-4">
        <div class="card bg-secondary rounded">
          <div class="avatar">
            <img src="data:image/jpeg;base64,{{pub.image}}" alt="Post Image" width="130" height="130">
          </div>

          <div class="post-content">
            <div *ngIf="pub.typePublication === TypePublication.PHOTO">
              <img src="{{ pub.content }}" alt="{{ pub.content }}">
            </div>
            <div *ngIf="pub.typePublication === TypePublication.VIDEO">
              <video controls>
                <source [src]="pub.content" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div *ngIf="pub.typePublication === TypePublication.TEXT">
              <p>{{ pub.content }}</p>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">


              <p class="card-text fw-bold">{{pub.content}}</p>

            </div>
            <hr>

            <div class="">
              <div>

                <button class="btn btn-danger" (click)="update(pub.idPub)"> Update </button>
                <button class="btn btn-danger" (click)="deletePublication(pub.idPub)"><i class="bi bi-trash"></i> </button>
                <div><ul></ul></div>
                <form (ngSubmit)="Commentaire()" id="comment-form">
                  <div class="mb-3">

                    <input required class="form-control " required placeholder="commentaire" type="text" [(ngModel)]="commentaire.commentText" name="commentText" id="commentText" />

                  </div>

                  <div class="col-12">
                    <div class="form-group d-flex justify-content-between mt-3">
                      <button class="btn btn-primary" type="submit" name="submit_reg">Comment</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <tr *ngFor="let a of listcomments">
            <td class="text-white"><strong>{{ a.commentText }}</strong></td>

            <div class="footer-text">
            <mat-card-subtitle> {{ pub.pubDate | date:'medium' }}</mat-card-subtitle>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- pagination buttons -->
  <div class="row justify-content-center my-4">
    <div class="col-md-6">
      <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
        <div class="btn-group me-2" role="group">
          <!-- Generate pagination buttons based on the total number of pages -->
          <button *ngFor="let page of totalPages" type="button" class="btn btn-primary"
                  [class.active]="currentPage === page"
                  (click)="currentPage = page">{{page}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



