<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                    <form class="form-signin">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

                        <label for="fName" class="sr-only">First name</label>
                        <input type="text" name="firstname" [(ngModel)]="user.firstname" class="form-control" required
                            #p="ngModel" placeholder="First name">

                        <label for="lName" class="sr-only">Last name</label>
                        <input type="text" name="prenom" [(ngModel)]="user.lastname" class="form-control" required
                            #p="ngModel" placeholder="Last Name">

                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="text" name="mail" [(ngModel)]="user.email" class="form-control" required
                            #p="ngModel" placeholder="E-mail">

                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="text" name="password" [(ngModel)]="user.password" class="form-control" required
                            #p="ngModel" placeholder="Password">

                        <label for="role" class="sr-only">Role</label>
                        <select name="role" [(ngModel)]="user.role" class="form-control" required #p="ngModel">
                            <option value="USER">User</option>
                            <option value="ADMIN">Admin</option>
                            <option value="DELIVERYMAN">DeliveryMan</option>
                            <option value="DRIVER">Driver</option>
                            <option value="GUIDE">Guide</option>
                        </select>
                        
                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" (click)="saveUser()" [routerLink]="['/confirm']">Sign
                            Up</button>
                        <p class="mt-5 mb-3 text-muted">I Have an Account Already <a [routerLink]="['/signin']"
                                href="#">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>